<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}} Home</title>
</head>
<body>
     <link rel="stylesheet" href="home.css">
     <h3 class="h3Class">This is home of {{name}}</h3>
    
</body>
</html>